{{title}}. {{#link-to 'requests.new'}} New request{{/link-to}}?
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th> Requested By </th>
      <th> Dates </th>
      <th> Description </th>
      <th> Status </th>
    </tr>
  </thead>
  <tbody>
    {{#each requests as |request|}}
      <tr>
        <th>
          <img src="{{request.requestedByAvatar}}" alt="{{request.requestedBy}}" height="30px">
          {{request.requestedBy}}
        </th>
        <td>
          {{moment-format request.from 'DD MMM'}} → {{moment-format request.to 'DD MMM'}}
          <small class="text-muted">
            <br>
            5 days
          </small>
        </td>
        <td>
          <span class="tag tag-pill tag-primary"> {{request.type}} </span>
          <small class="text-muted">
            <br>
            {{request.description}}
          </small>
        </td>
        <td>{{request.status}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
