{{title}}. {{#link-to 'requests.new'}} New request{{/link-to}}?
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th> Requested By </th>
      <th> Dates </th>
      <th> Description </th>
      <th> Status </th>
    </tr>
  </thead>
  <tbody>
    {{#each requests as |request|}}
      <tr>
        <th>
          <!-- <img src="{{request.requestedByAvatar}}" alt="{{request.username}}" height="30px"> -->
          {{request.username}}
        </th>
        <td>
          {{moment-format request.from 'DD MMM'}} → {{moment-format request.to 'DD MMM'}}
          <small class="text-muted">
            <br>
            {{request.duration}}
          </small>
        </td>
        <td>
          <!-- <span class="tag tag-pill tag-primary"> {{request.type}} </span> -->
          <small class="text-muted">
            <!-- <br> -->
            {{request.description}}
          </small>
        </td>
        <td>
          {{#if isOwner}}
            <div class="dropdown">
              <button class="btn btn-{{request.statusClass}} btn-sm dropdown-toggle" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.status}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#each possibleStatus as |status|}}
                  {{#unless (eq status request.status)}}
                    <a class="dropdown-item" {{action 'updateRequestStatus' request status}}> {{status}} </a>
                  {{/unless}}
                {{/each}}
              </div>
            </div>
          {{else}}
            <span class="tag tag-{{request.statusClass}}"> {{request.status}} </span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
