<table class='table table-bordered'>
  <thead>
    <tr>
      <th> Username </th>
      {{#each viewingPeriod as |day|}}
        <th> {{day}} </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data as |user|}}
      <tr>
        <td> {{user.username}} </td>
        {{#each viewingPeriod as |day|}}
          <td id="{{user.username}}-{{day}}"> <small class='text-muted'> # </small> </td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>

<hr>

{{moment-calendar date}}

<hr>

<div {{action 'makeCalendar'}}> Show </div>
