{{#if teams.length}}
  Mesitis currently has {{teams.length}} teams set up.
  <br>
  <br>
  {{#each teams as |team|}}
    <div class='col-sm-4'>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{team.name}}</h4>
          <p class="card-text">{{team.desc}}</p>
          <p class="card-text"><small class="text-muted">{{team.count}} members</small></p>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="jumbotron">
    <h3>
      Looks like you haven't created any teams yet!
    </h3>
    <p>
      <br>
      You can organise your organisation's members into teams within Yalla.
      <br>
      This will help you get a better picture of your member's availability, viewable by projects.
    </p>
    <p>
      <br>
      <a class="btn btn-primary btn-lg" href="#" role="button">
        Create first team
      </a>
    </p>
  </div>
{{/if}}
