{{#if teams.length}}
  Mesitis currently has {{teams.length}} teams set up.

  <ul>
    {{#each teams as |team|}}
      <li>
        <strong>{{team.name}}</strong>, with
        {{team.count}} members.
        <br>
        {{team.descriptions}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="container">
    <div class="jumbotron">
      <h3>
        Looks like you haven't created any teams yet!
      </h3>
      <p>
        <br>
        You can organise your organisation's members into teams within Yalla.
        <br>
        This will help you get a better picture of your member's availability, viewable by projects.
      </p>
      <p>
        <br>
        <a class="btn btn-primary btn-lg" href="#" role="button">
          Create first team
        </a>
      </p>
    </div>
  </div>
{{/if}}
