<div class="table-responsive">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th></th>
        {{#each viewingPeriod as |day|}}
          {{#if (eq 'Monday' (moment-format day 'dddd' 'DD-MM-YYYY'))}}
            <th>
              <small>
                {{moment-format day 'MMM' 'DD-MM-YYYY'}}
                W{{moment-format day 'w' 'DD-MM-YYYY'}}
              </small>
            </th>
          {{else}}
            <th></th>
          {{/if}}
        {{/each}}
      </tr>
      <tr>
        <th> Username </th>
        {{#each viewingPeriod as |day|}}
          <th class="{{moment-format day 'dddd' 'DD-MM-YYYY'}}">
            <center>
              <small>
                {{moment-format day 'dd' 'DD-MM-YYYY'}}
              </small>
              {{moment-format day 'D' 'DD-MM-YYYY'}}
            </center>
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data as |user|}}
        <tr>
          <td>
            <img src={{user.avatar}} alt={{user.username}} height="30px">
            {{user.username}}
          </td>
          {{#each viewingPeriod as |day|}}
            <td id="{{user.identifier}}-{{day}}" class="{{moment-format day 'dddd' 'DD-MM-YYYY'}}">
              <small class='text-muted'></small>
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<hr>

<a {{action 'changePeriod' '' 'prev'}}> prev </a>
<a {{action 'changePeriod' '' 'next'}}> next </a>

<br>
<br>

{{#if (eq unit 'month')}}
  <a {{action 'changePeriod' 'week'  ''}}> Week </a>
{{else}}
  <a {{action 'changePeriod' 'month' ''}}> Month </a>
{{/if}}
