<h3> Requests </h3>

<div class='row'>
  <div class='col-sm-8'>
    Look for
    <div class="dropdown inline-dropdown">
      <button class="btn btn-{{statusClass}} btn-sm dropdown-toggle" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedStatus}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each possibleStatus as |status|}}
          {{#unless (eq status selectedStatus)}}
            <a class="dropdown-item" {{action 'updateStatusFilter' status}}> {{status}} </a>
          {{/unless}}
        {{/each}}
      </div>
    </div>
    requests from
      {{ember-inline-edit value=username
                          onClose='rollbackSelectedUser'
                          onSave='updateSelectedUser'
                          placeholder=displayedSelectedUser}}.
    {{#link-to 'requests.new'}} New request{{/link-to}}?
    <br>
    <br>
    {{requests-list requests=model}}
  </div>

  <div class='col-sm-4'>
    {{outlet}}
  </div>
</div>
